* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#box1,
#box2 {
  width: 300px;
  border: 1px solid black;
  text-align: center;
}
#game {
  display: flex;
  justify-content: space-between;
}
#box1Count,
#box2Count {
  font-size: 5rem;
  color: green;
}
